/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 800px;
  margin-top: 100px;
  padding: 50px;
  box-shadow: 9px 9px 9px 1px rgba(0, 0, 0, 0.2);
  background-color: aliceblue;
}

#title {
  font-weight: 600;
  margin-bottom: 18px;
}

.timer {
  margin-bottom: 18px;
  font-size: 36px;
}
.button-wrapper {
  padding: 10px;
}

button {
  padding: 9px 18px;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  margin: 2px;
  color: white;
  cursor: pointer;
}

button:hover {
  color: black;
  opacity: 0.9;
}

#start {
  background-color: green;
}
#stop {
  background-color: red;
}
#reset {
  background-color: dimgrey;
}
